@charset "UTF-8";

@media screen and (min-width: 769px){
    #burguer{
        display: none;
    }
    header > nav{
        display: flex;
        flex-flow: row wrap ;
    }
    header > nav > a{
        display: inline-block;
    }
    main > #cachorro{
        width:580px;
        height: 580px;
    }
    main > #shop{
        width: 645px; 
        height: 438px;
    }
    .botao{
        display: inline-block;
    }
    .transparente{
        display: inline-block;
    }

    .absolute{
        width: 100%;
        
        position: absolute;
        bottom: 0%;
        left: 0%;
        z-index: -10;
    }
    #farmacia{
        text-align: center;
    }
    #farmacia > img{
        margin: auto;
    }
    #farmacia > p{
        max-width: 950px;
    }
}